/* ! CUSTOM */

:root {
  --default-font-family: "Edu TAS Beginner", cursive;
}

/* ! RESET */

img {
  max-width: 100%;
}

body {
  background-image: url(../img/cork.png);
}

/* ! CONTENT */

/* # Header */
.page-header {
  background-image: url(../img/wall.png);
  margin-bottom: 3rem;
}

.title {
  font-family: var(--default-font-family);
  font-size: 3.5rem;
}

/* # Stamped cards */
.card {
  height: 100%;
  font-size: 1.2rem;
  font-family: var(--default-font-family);
  transition-duration: 0.8s;
  transition-property: transform, box-shadow;
  box-shadow: 10px 10px 15px;
  cursor: pointer;
}

.card:hover {
  transition-duration: 0.8s;
  transition-property: transform, box-shadow;
  transform: rotate(25deg) scale(1.1);
  box-shadow: 20px 15px 10px;
  z-index: 1;
}

.card:hover .card-pin {
  display: none;
}

.card-pin {
  position: absolute;
  left: 50%;
  translate: -50%;
  top: -10px;
}

/* # stamped overlay */
#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: var(--default-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#overlay-btn {
  padding: 0.6rem 5rem;
}

#overlay-img {
  margin: 2rem;
}

/* ! ! ! */

/* # 480px */
@media screen and (min-width: 480px) {
  /* header title */
  .title {
    font-size: 4.5rem;
  }
}
