/* ! RESET */
img {
    max-width: 100%;
}

body {
    background-image: url(../img/cork.png);
}

/* ! UTILS */

/* # Header */
.page-header {
  background-image: url(../img/wall.png);
  margin-bottom: 3rem;
}
