/* ! RESET */
img {
  max-width: 100%;
}

/* ! UTILS */
body {
  background-image: url(../img/cork.png);
}

.card {
  height: 100%;
}

/* ! HEADER */
.page-header {
  background-image: url(../img/wall.png);
  margin-bottom: 3rem;
}
